<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prog3projekt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="fiTracker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prog3Projekt">
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Activity.DayExercisesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.StartTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TemplateActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddEditExercisesActivity"
            android:exported="false"
            android:parentActivityName=".Activity.ListExercisesActivity" />
        <activity
            android:name=".Activity.HomeActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".Activity.ListExercisesActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activity.StatisticActivity"
            android:exported="false"
            android:launchMode="singleTop" />
    </application>

</manifest>